node_modules
.next
out
build
.git
.gitignore
README.md
docs
_.log
.env
.env.local
.env._.local
.vscode
.idea
.DS_Store
Thumbs.db
_.swp
_.swo
tmp
frontend/.next
frontend/.cache
backend
.pnpm-lock.yaml
*.tar.gz
deploy.tar.gz
Dockerfile
.dockerignore
.github
