# Set to 'production' to enable authentication for all routes
NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_COGNITO_USER_POOL_ID=your_user_pool_id
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=your_app_client_id
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_CLIENT_SECRET=your_client_secret

# Backend API URL (for proxying requests)
NEXT_PUBLIC_API_URL=http://localhost:8000
